apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: {{ .Values.namespace }}
data:
{{- range $k, $v := .Values.configs}}
  {{ $k }}: {{ $v | quote}}
{{- end }}
  environment: {{ .Values.global.ENVIRONMENT }}
  init.sql: | 
    GRANT ALL PRIVILEGES ON app_db.* TO 'app_user'@'%';
    USE app_db;
    CREATE TABLE counter (
        id INT AUTO_INCREMENT PRIMARY KEY,
        value INT
    );
